name: Make a release
# on:
#   push:
#     tags:
#       - "*.*.*"
on: [push]

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
  windows_build:
    runs-on: windows-latest
    steps:
      - name: Check PowerShell
        shell: pwsh
        run: curl.exe --output installer.exe --url https://www.python.org/ftp/python/3.10.4/python-3.10.4-amd64.exe
      - name: Check download
        shell: pwsh
        run: Get-ChildItem -Force
      - name: Run installation in silent mode
        shell: pwsh
        run: ./installer.exe /quiet InstallAllUsers=1 PrependPath=1 Include_doc=0 include_launcher=0
      - name: Create venv
        shell: pwsh
        run: python3 -mvenv --copies .venv 
      - name: Compress venv
        shell: pwsh
        run: Compress-Archive -Path .venv/* -DestinationPath python.zip
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: python.zip
